.heading{
    display: flex;
    
}
.heading h2{
    color: orange;
}
.heading h3{
    color: grey;
}
.para{
    text-align: justify;
    word-spacing: 2px;
    
}
.aboutus h1{
    padding: 25px;
}
.aboutus h2{
    padding: 25px;
}
.para {
    padding: 25px;
}