.overlay{
    font-size:x-large;
    
}
.iconscartplus{
    margin-right: 25px;
    color: chartreuse;
}
.iconsheart{
    margin-right: 25px;
    color: red;
}
.iconsstar , .iconsstarhalf{
    color: white;
    background-color: black;
    height: 30px;
    width: 30px;
}
.purchase img:hover{
    transform: scale(1.1);
    z-index: 2;
}